@{
ViewData["Title"] = "About Us";
}

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-3">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="~/images/caring.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">About Us</h1>
        <p class="lead">Get to know the developers behind ChartCare and what inspired us to create this tool. </p>
      </div>
    </div>
  </div>

<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Developers</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-1">

        <div class="col d-flex align-items-start">
            <div class=" circle icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center rounded-circle justify-content-center fs-4 flex-shrink-0 me-3">
                <img class="dev-img"  src="~/images/sean-calkins.jpg" />
            </div>
            <div>
                <h3 class="fs-2 text-body-emphasis">Sean Calkins</h3>
                <p>
                    I’m a recent graduate of the Computer Science program at Boise State University, with a previous degree in Therapeutic Recreation.
                    Before transitioning into software development, I worked at a therapeutic boarding school and an outpatient adult transition program.
                    My passion for computer science lies in creating software that enriches and enhances the lives of others.
                </p>
                <p>
                    Having seen firsthand the critical role medical charting plays in patient care, I decided to combine my experience in the medical field with
                    my software development skills to create an online patient charting system designed for healthcare professionals.
                </p>
                <a href="#" class="btn btn-primary">
                    Primary button
                </a>
            </div>
        </div>

    </div>
</div>