@{
    ViewData["Title"] = "Home Page";
}

@* <div class="container d-flex flex-column justify-content-center align-items-center  ">
    <h1 class="display-4">Chart Care</h1>
    <p>An online patient charting portal </p>
</div> *@
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="~/images/heart-icon.jpg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">ChartCare</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">All in one patient charting system to chart, monitor, and track your clients behaviors and medical needs.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a type="button" asp-area="Identity" asp-page="/Account/Register" class="btn btn-success btn-lg px-4 gap-3 action-btn-1">Try ChartCare Free</a>
            <a type="button" asp-controller="Home" asp-action="Pricing" class="btn btn-outline-secondary btn-lg px-4">See Pricing Plans</a>
        </div>
        <div class="disclaimer">
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
                <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1"></path>
            </svg>
            This is a Demo site for project modeling purposes only

            </p>
        </div>
    </div>
</div>
