<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChartCareMVC.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/images/ChartCare.ico" class="icon" />
</head>
<body class="d-flex flex-column min-vh-100 overflow-auto">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom bg-red-custom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img class="logo" src="~/images/heart-icon.jpg" asp-alt="Logo"></img>
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-right mb-md-0 nav-link-color">
            <li><a asp-controller="Home" asp-action="Index" class="nav-link px-2 link-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2">Features</a></li>
            <li><a href="#" class="nav-link px-2">Pricing</a></li>
            <li><a href="#" class="nav-link px-2">FAQs</a></li>
            <li><a href="#" class="nav-link px-2">About</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <a href="/Identity/Account/Login" class="btn btn-outline-light me-2 login-btn">Login</a>
            <a class="btn btn-dark" id="sign-up-btn" href="/Identity/Account/Register">Sign-up</a>
        </div>

    </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    <footer class="mt-auto d-flex footer flex-wrap justify-content-between align-items-center py-3 border-top custom-footer position-relative">
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-right mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="logo" src="~/images/heart-icon.jpg" asp-alt="Logo"></img>
            <p class="col-md-4 mb-0 text-body-secondary company">© Chart Care</p>
        </a>
        <ul class="nav col-md-4 justify-content-end footer-link">
            <li class="nav-item"><a asp-controller="Home" asp-action="Index" class="nav-link px-2 text-body-secondary">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
