html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-red-custom {
    background-color: #b02a37; /* Example hex color for red */
    color:white;
}

.logo {
    width: 50px;
    height: 45px;
    margin-left: 5px;
}

.nav-link-color .nav-link {
    color: white;
}

.logo{
    border-radius:30%;
}

#sign-up-btn {
    margin-right: 5px;

}
.custom-footer{
    background-color:#292929;
    margin:0px;
    padding:0px;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display:flex;
    flex-direction:column;
}
body {
    display: flex;
    flex-direction: column;
}
.container {
    flex-grow: 1;
    overflow-y: auto;
}

header, footer {
    flex-shrink: 0;
}

.company{
    color:white;
    margin-left:10px;
}

.footer-link .nav-link {
    color: #C7C7C7;
}

.disclaimer {
    color: grey;
}
.action-btn-1 {
    background-color: #b02a37;
}