html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-red-custom {
    background-color: #b02a37; /* Example hex color for red */
    color:white;
}

.logo {
    width: 50px;
    height: 45px;
    margin-left: 5px;
}

.nav-link-color .nav-link {
    color: white;
}

.logo{
    border-radius:30%;
}

#sign-up-btn {
    margin-right: 5px;
    text-decoration:none;
    color:white;
}
#sign-up-btn:hover{
    background-color:white;
    color:black;
}

#sign-up-btn2 {
    margin-right: 5px;
    text-decoration: none;
    background-color: #b02a37;
    color: white;
}

#sign-up-btn2:hover {
    background-color: rgba(176, 42, 55, 0.45);
    border-color: black;
}

.login-btn {
    text-decoration: none;
    color: white !important;
}
.login-btn:hover{
    background-color:black;
    color:white;
}

.custom-footer{
    background-color:#292929;
    margin:0px;
    padding:0px;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display:flex;
    flex-direction:column;
}
body {
    display: flex;
    flex-direction: column;
}
.container {
    flex-grow: 1;
}

header, footer {
    flex-shrink: 0;
}

.company{
    color:white;
    margin-left:10px;
}

.footer-link .nav-link {
    color: #C7C7C7;
}

.disclaimer {
    color: grey;
}
.action-btn-1 {
    background-color: #b02a37;
}

.form-register {
   margin-left: 1rem;
   max-width: 400px; 
   margin: 0 auto;
}

.image-placeholder {
    background-image: url('../images/medical-charting-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1; 
    height: 100%; 
    width:120%
}

.disclaimer-registration {
    color: grey;
    font-size:16px;
}

.resend-btn {
    background-color: forestgreen;
    color: white;
}
.resend-btn:hover{
    opacity: 0.6;
    color:white;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
    padding-top: 45px;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.icon-link > .bi {
    width: .75em;
    height: .75em;
}

.faqs-btn {
    text-decoration: none;
    color: black !important;
}

.faqs-btn:hover {
    background-color: rgba(176, 42, 55, 0.5);
    color: white !important;
}

.dev-img {
    width: 100px;
    height: 150px;
}
.circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}