name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  list-files:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: List directory contents
      run: |
        echo "Current directory:"
        pwd
        echo "List root directory:"
        ls -la
        echo "List ChartCareMVC directory:"
        ls -la ChartCareMVC
        echo "List MVC-Tests directory:"
        ls -la ChartCareMVC/MVC-Tests

  build:
    needs: list-files
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore ChartCareMVC/ChartCareMVC.sln --use-lock-file

    - name: Build
      run: dotnet build ChartCareMVC/ChartCareMVC.sln --no-restore

    - name: Test
      run: dotnet test ChartCareMVC/MVC-Tests/MVC-Tests.csproj --no-build --verbosity normal

